@page "/logout"

<h1>Logout</h1>

<div class="text-left">
    <p>
        You successfully logged out of Leek Log!
    </p>

    <p>
        This makes us really sad ... You know that, right? &#128546;
    </p>
</div>
